html, body{
	height: 100%;
	width: 100%;
	font-family: 'Poppins', sans-serif;
	color:#222;
}

#front-page {
	background-color: rgb(189, 216, 255);
}

#navb {
	min-height: 4rem;
}

.flex-1 {
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 0;
}
.w-70 {
	width: 70%;
}
